<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello <%= @user.email %></h3>
    <p>
      Your password for the ENGAGE system is: <h5><%= @user.password %></h5>
      <br />All the best,
      <br />The ENGAGE team
    </p>
  </body>
</html>
