<tr>
  <td>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
  </td>
  <td><%= f.text_field :qtype, label: true %></td>
  <td><%= f.text_field :tittle, label: false %></td>
  <td><%= f.text_field :qline, label: false, as: :string %></td>
</tr>
