<div class="about-content">
<p>
  Engaging  representations
is  a  project  which
critically  assess  the  way  news  informs  the  thoughts  and
actions  of  people  by  using  a  platform  developed  using  a
web    application    and    an    android    application    that
commun
icate with each other to distribute surveys attached
to  news  media  content  and  enable  the  retrieval  of  the
survey responses. Ensuring fewer errors, cost minimization
and a higher participation rate.</br>


Engage
was  develop  using  the  feature  driven  development
m
ethodology  and  implemented  using  the  MVC  pattern,
each iteration served useful as requirements were improved
with  minimum  client  interaction.  For  the  final  testing,  the
client  was  able  to  successfully  use  the  system  to  create
news  media
contents,  administer
surveys  and  view  survey
responses  with  ease.  For  future  works,  the  system  will
include  a  voice  recording  option
to
collect  participants
responses.

</p>

</div>
